#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sphere {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
}

.country {
  fill: #8b8b88;
  stroke: #fff;
  stroke-width: 0px;
  stroke-linejoin: round;
}

.country:hover {
  fill: brown;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 0.5px;
}
