.world-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sphere {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
}

.country {
  fill: var(--main-gray);
  stroke: var(--main-white);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  transition: fill 130ms ease-in-out;
  cursor: default;
}

.country:hover {
  fill: var(--country-hover);
}

.graticule {
  fill: none;
  stroke: var(--main-dark);
  stroke-opacity: 0.1;
  stroke-width: 1px;
}

.checked {
  fill: var(--country-hover);
}

.country-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-displayer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
}

#tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  color: var(--main-white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease-in;
}

#world-map {
  cursor: grab;
}

@media (width < 1100px) {
  .world-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(
      100% - (132.5px + 60px)
    ); /* 132.5px - height of navbar, 60px - additional space for mobile search bar  */
    padding: 0;
  }

  .info-displayer {
    padding: 20px 10px;
  }

  svg {
    height: 100%;
  }
}
