.world-wrapper {
  overflow-y: hidden;
  text-align: center;
}

.sphere {
  fill: white;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
}

.country {
  fill: var(--dark-800);
  stroke: var(--main-white);
  stroke-width: 0.5px;
  stroke-linejoin: round;
  transition: fill 130ms ease-in-out;
  cursor: default;
}

.country:hover {
  fill: var(--country-hover);
}

.graticule {
  fill: none;
  stroke: var(--main-dark);
  stroke-opacity: 0.1;
  stroke-width: 1px;
}

.checked {
  fill: var(--country-hover);
}

.country-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-displayer {
  padding: 20px 30px;
}

#tooltip {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  color: var(--main-white);
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease-in;
}

#world-map {
  cursor: grab;
}


@media (width < 1100px) {
  .world-wrapper {
    padding: 0;
  }

  .info-displayer {
    padding: 20px 10px;
  }
}
